# Environment variables declared in this file are automatically made available to Prisma.
# See the documentation for more detail: https://pris.ly/d/prisma-schema#accessing-environment-variables-from-the-schema

# Prisma supports the native connection string format for PostgreSQL, MySQL, SQLite, SQL Server, MongoDB and CockroachDB.
# See the documentation for all the connection string options: https://pris.ly/d/connection-strings

PORT=3000
DATABASE_URL="file:./dev.db"
EMAIL_PASSWORD="x x x j x x x d x k x h x o t x"
EMAIL="lafirmafuerte@gmail.com"
JWT_SECRET="$$$"
BASE_URL= "http://localhost:3000"
ORIGIN_URL_FRONTEND="http://127.0.0.1:5500"